<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test Set 1" enabled = "false">
    <classes>
      <class name="com.hsbc.testng.Testng1"/>
      <class name="com.hsbc.testng.Testng2"/>
      <class name="com.hsbc.testng.Testng3"/>
      <class name="com.hsbc.testng.Testng4"/>
     </classes>
  </test> <!-- Test -->
  
  <test name="Test Set 2">
    <classes>
      <class name="com.hsbc.testng.Testng5"/>
      <class name="com.hsbc.testng.Testng6"/>
      <class name="com.hsbc.testng.Testng7"/>
     </classes>
  </test> <!-- Test -->
  

  
  
  
  
</suite> <!-- Suite -->
